.sblfwoo-wrap {
    display: inline-block;
}

.sblfwoo-trigger {
    display: flex;
    align-items: center;
}

.sblfwoo-trigger svg {
    display: block;
    width: 50px;
    height: 50px;
    fill:#fff;
}
.sblfwoo-trigger img {
    display: block;
    width: 50px;
    height: auto;
}

.sblfwoo-trigger .icon-text {
    float: left;
    color: #fff;
    margin-right: 6px;
    font-size: 12px;
    line-height: 1;
}

.sblfwoo-trigger:hover .icon-text{
    color: #75a452;
}

.sblfwoo-trigger .icon-text span {
    display: block;
}

.sblfwoo-inner {
    position: relative;
}

.sblfwoo-container {
    position: absolute;
    right: 100%;
    top: 0;
    background: #fff;
    color: #75a452;
    margin-right: 15px;
    min-height: 200px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-30px);
    transition: all .3s ease;
}

.sblfwoo-container.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.sblfwoo-container-inner {
    padding-right: 20px;
    padding-left: 30px;
}

.input-container-text {
    font-size: 12px;
    border-bottom: 2px solid;
    line-height: 36px;
    margin-right: 43px;
    padding-left: 10px;
    font-style: italic;
}

.input-top-text{
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    display: block;
    line-height: 2.2;
    text-align: left;
}

.search-product-list__input-wrapper {
    width: 100%;
    min-height: 190px;
    cursor: pointer;
    text-align: left;
    background-image: url(../search-by-list-textarea-bg.png);
    background-position: 0 -1px;
    margin-bottom: 20px !important;
    overflow: hidden;
}

.search-product-list__remove-item {
    height: 28px;
    padding: 0 9px;
    float: left;
    margin: 5px 10px 5px 0;
    background-color: #e0e0e0;
    color: #75a452;
    transition-property: border, background, color, opacity;
    transition-duration: .25s;
    border-radius: 3px;
    cursor: pointer;
    border: 0;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 22px;
}

.search-product-list__remove-item:hover {
    background-color: #75a452;
    color:#fff;
}

.search-product-list__remove-item .cross {
    font-size: 18px;
    margin-left: 8px;
}
.font-icn.cross:before {
    content: "×";
}
rs-layer .search-product-list__search-input,
.search-product-list__search-input {
    font-size: 16px;
    background: 0 0;
    height: 30px;
    margin: 4px 0;
    min-width: 35%;
    width: unset;
    float: left;
    /* margin: 0; */
    display: inline-block;
    padding: 0;
}
.search-product-list__search-input:focus,
.search-product-list__search-input:hover{
    background-color: transparent !important;
}

.sblfwc-submit {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0;
    outline: 0;
    padding: 18px 16px 26px;
    background-color: #75a452;
    color: #fff;
    margin-right: 10%;
}

.sblfwoo-close {
    position: absolute;
    right: 0;
    top: 0;
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 36px;
    color: #75a452;
    cursor: pointer;
}

.input-container-text .sep {
    position: relative;
    margin-left: 15px;
}

.input-container-text .sep:before {
    content: "";
    height: 100%;
    width: 1px;
    background: #75a452;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

/*Result Page*/
#search-list-filter-ajax-result {
    position: relative;
}

.search-list-filters-wrapper {
    border-bottom: solid 1px #d3d3d3;
    position: relative;
    margin-top: 30px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 15px;
}

.search-list-filters {
    white-space: nowrap;
    overflow-y: auto;
}

.search-filter {
    height: 50px;
    line-height: 50px;
    padding: 0 30px 3px;
    display: inline-block;
    position: relative;
    background-color: #f2f2f2;
    border-radius: 3px;
    margin: 0 5px;
    min-width: 130px;
    font-size: 17px;
    border: 0;
    cursor: pointer;
    color: #848484;
    text-transform: capitalize;
}

.search-list-filters button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #dbdbdb;
    -webkit-transition: all .25s;
    transition: all .25s;
}

.search-list-filters button:first-child {
    margin-left: 0;
}

.search-list-filters .search-filter.active {
    color: #323232;
}

.search-list-filters .search-filter.active:after {
    background-color: #75a452;
}

.search-list-filters .search-filter:not(.active):hover:after {
    background-color: #323232;
}

.search-filter:focus{
    outline: 0;
    border: 0;
}

/*end result page*/

/* ajax loader */
.sblfwc-loader {
    position: absolute;
    top: 0;
    z-index: 1;
    text-align: center;
    left: 0;
    right: 0;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  top: 50%;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 2px solid #75a452;
  border-color: #75a452 transparent #75a452 transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
  animation: lds-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/* end ajax loader */

@media only screen and (max-width: 480px){
    .sblfwoo-trigger img {
        width: 30px;
    }

    .sblfwoo-trigger .icon-text {
        font-size: 10px;
        margin-right: 3px;
        line-height: .8;
    }

    .sblfwoo-container {
        margin-right: 0;
        min-height: 200px;
        right: 0;
        max-width: 300px;
        top: 100%;
        margin-top: 10px;
    }

    .input-container-text {
        font-size: 9px;
        line-height: 23px;
        margin-right: 30px;
        padding-left: 5px;
    }

    .sblfwoo-close {
        height: 24px;
        width: 24px;
        font-size: 13px;
        line-height: 24px;
    }

    .input-top-text {
        font-size: 13px;
        line-height: 2;
    }

    .sblfwoo-container-inner {
        padding-right: 12px;
        padding-left: 15px;
    }

    .search-product-list__input-wrapper {
        min-height: 155px;
        margin-bottom: 4px !important;
    }

    .search-product-list__remove-item {
        font-size: 14px;
    }

    .sblfwc-submit {
        padding: 10px 12px 20px;
        font-size: 12px;
    }
}