/*
Theme Name: Mildhill Child
Theme URI: http://mildhill.select-themes.com
Template: mildhill
Author: Select Themes
Author URI: http://themeforest.net/user/select-themes
Description: Organic and Food Store Theme
Tags: one-column,two-columns,three-columns,four-columns,left-sidebar,right-sidebar,custom-menu,featured-images,flexible-header,post-formats,sticky-post,threaded-comments,translation-ready
Version: 1.1.1588746475

*/

.icon-area .wpb_column:first-child {

}

.icon-area .qodef-icon-with-text .qodef-m-title .qodef-m-title-text,
.icon-area .qodef-icon-with-text .qodef-m-text {
    color: #75a452;
}

.qodef-icon-with-text.qodef-layout--top .qodef-m-title {
    font-family: "PT Sans",sans-serif;
    font-size: 26px;
    line-height: 1.5em;
    font-weight: 400;
    margin-top: 15px;
}

.qodef-quantity-buttons {
    position: relative;
    z-index: 999;
}

.qodef-woo-page.qodef-quantity-buttons {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}

.qodef-woo-page.qodef-quantity-buttons .qodef-quantity-minus,
.qodef-woo-page.qodef-quantity-buttons .qodef-quantity-plus,
#qodef-woo-page li.product .qodef-quantity-buttons .qodef-quantity-minus,
#qodef-woo-page li.product .qodef-quantity-buttons .qodef-quantity-plus {

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;

    background-color: #75a452;
    border-left: 0;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    height: 19.5px;
    line-height: 25px;
    position: absolute;
    right: 0;
    -webkit-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    width: 28px;
}

.qodef-woo-page.qodef-quantity-buttons .qodef-quantity-minus {
    bottom: 0;
}

.qodef-woo-page.qodef-quantity-buttons .qodef-quantity-plus {
    border-bottom: 0;
    top: 0;
}

.qodef-woo-page.qodef-quantity-buttons .qodef-quantity-input,
#qodef-woo-page li.product .qodef-quantity-buttons .qodef-quantity-input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;

    background-color: #ebf5ff;
    color: #244262;
    font-family: "PT Sans",sans-serif;
    font-size: 16px;
    height: 40px;
    line-height: 48px;
    margin: 0 28px 0 0;
    outline: 0;
    padding: 0;
    position: relative;
    width: 54px;
}

.qodef-woo-shortcode .qodef-woo-buttons-holder .add_to_cart_button,
#qodef-woo-page li.product .qodef-woo-buttons-holder .add_to_cart_button{
    min-width: 156px;
    z-index: 9999;
    margin: 0;
    background: #fff;
    display: flex;
    align-items: center;
}

.qodef-woo-shortcode .qodef-woo-buttons-holder .add_to_cart_button:after,
#qodef-woo-page li.product .qodef-woo-buttons-holder .add_to_cart_button:after{
    left: unset;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.qodef-woo-shortcode .qodef-woo-buttons-holder .add_to_cart_button:before,
#qodef-woo-page li.product .qodef-woo-buttons-holder .add_to_cart_button:before{
    background-color: #fda07e;
    border-radius: 0;
    left: unset;
    right: 0;
    height: 100%;
    width: 50px;
}

#qodef-woo-page li.product .qodef-quantity-buttons .qodef-quantity-minus span,
#qodef-woo-page li.product .qodef-quantity-buttons .qodef-quantity-plus span{
    line-height: 20px;
}

.cart-text {
    font-size: 16px;
    margin-left: 14px;
    color: #75a452;
}

.qodef-woo-buttons-holder .add_to_cart_button {
    display: flex !important;
}

.qodef-woo-buttons-holder .added_to_cart {
    display: none !important;
}

.qodef-woo-product-list.qodef-item-layout--info-below-1 .qodef-woo-product-title-price-holder .price {
    display: none !important;
}

.qodef-woo-product-content .qodef-woo-product-title {
    color: #75a452;
    font-family: "PT Sans",sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.qodef-woo-product-list .qodef-woo-product-content {
    display: flex;
    flex-wrap: wrap;
}

.qodef-woo-product-list .qodef-woo-product-content .qodef-woo-product-title-price-holder {
    width: 100%;
    order: 1;
}

.qodef-woo-product-list .qodef-woo-product-content .qodef-woo-product-base-price {
    width: 100%;
    order: 3;
    font-size: 20px;
    color: #75a452;
    margin-top: 14px;
    margin-bottom: 0;
}

.qodef-woo-product-list .qodef-woo-product-content .qodef-woo-ratings {
    width: 100%;
    order: 2;
    margin-top: 4px;
}

.qodef-woo-product-list.qodef-item-layout--info-below-1 .qodef-woo-buttons-holder {
    width: 100%;
    order: 4;
}

.qodef-woo-shortcode .qodef-woo-ratings .qodef-m-star,
#qodef-woo-page li.product .qodef-woo-ratings .qodef-m-star{
    color: #75a452;
}

#qodef-woo-page .qodef-woo-product-mark, .qodef-woo-shortcode .qodef-woo-product-mark {
    background-color: #7fae73;
    font-size: 0;
    padding-left: 6px;
    padding-right: 6px;
}

.qodef-woo-shortcode .qodef-woo-product-mark:before {
    content: "Oferta";
    font-size: 17px;
    font-family: "PT Sans",sans-serif;
    font-weight: 600;
}

li.outofstock .qodef-quantity-buttons,
li.outofstock .cart-text,
li.product-type-external .qodef-quantity-buttons,
li.product-type-external .cart-text,
li.product-type-grouped .qodef-quantity-buttons,
li.product-type-grouped .cart-text{
    display: none !important;
}

#qodef-page-sidebar .widget .qodef-widget-title {
    font-family: "PT Sans",sans-serif;
    background-color: #75a452;
}

div.product-search-filter-terms a, div.product-search-filter-extras a, .widget-area .widget div.product-search-filter-terms a, .widget-area .widget div.product-search-filter-extras a {
    color: #75a452 !important;
    display: inline-block;
    width: 100%;
}

.product-search-filter-terms .product-search-filter-product_cat .term-thumbnail {
    box-shadow: none !important;
}

.widget .product-search-filter-terms .product-search-filter-attribute a {
    display: block;
}

.product-search-attribute-filter-item.current-attribute>a:after {
    float: right;
}

.product-search-filter-terms .cat-parent.expandable>ul {
    display: block !important;
}

.widget div.product-search-filter-terms>.product-attribute>li {
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 7px !important;
    padding-bottom: 8px;
}

.widget div.product-search-filter-terms>.product-search-filter-category>li {
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 7px !important;
    padding-bottom: 8px;
}

.widget div.product-search-filter-terms>.product-search-filter-category>li ul.children {
    position: relative;
    background: #f7f7f7;
    padding-bottom: 8px !important;
}

.widget div.product-search-filter-terms>.product-search-filter-category>li ul.children:before {content: "";height: 1px;width: 106%;position: absolute;left: 0;top: 0;background: #d4d4d4;margin-left: -1em;}

.product-search-filter-terms {
    position: relative;
    overflow: hidden;
}

.widget div.product-search-filter-terms>.product-search-filter-category>li ul.children>li {
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 7px !important;
    padding-bottom: 8px;
    padding-top: 8px;
}

.widget div.product-search-filter-terms>.product-search-filter-category>li ul.children>li:last-child {border-bottom: 0;margin-bottom: 0 !important;padding-bottom: 0;padding-top: 0;}

.widget div.product-search-filter-terms>.product-search-filter-category>li {
    position: relative;
}

.widget div.product-search-filter-terms>.product-search-filter-category>li:after {
    color: #75a452;
    position: absolute;
    right: 0;
    top: 9px;
    content: '\35';
    font-family: ElegantIcons;
    font-size: 26px;
    float: right;
}
.widget div.product-search-filter-terms>.product-search-filter-category>li.expandable {
    padding-bottom: 0;
    border-bottom: 0;
}
.widget div.product-search-filter-terms>.product-attribute>li:not(.current-attribute) a:after {
    content: "○";
    vertical-align: middle;
    padding: 0 2px;
    float: right;
    font-size: 27px;
}

/*Icon change*/
.qodef-woo-page.qodef-quantity-buttons .qodef-quantity-minus .arrow_carrot-up:before, .qodef-woo-page.qodef-quantity-buttons .qodef-quantity-plus .arrow_carrot-up:before, #qodef-woo-page li.product .qodef-quantity-buttons .qodef-quantity-minus .arrow_carrot-up:before, #qodef-woo-page li.product .qodef-quantity-buttons .qodef-quantity-plus .arrow_carrot-up:before {
  content: "L";
}
.qodef-woo-page.qodef-quantity-buttons .qodef-quantity-minus .arrow_carrot-down:before, .qodef-woo-page.qodef-quantity-buttons .qodef-quantity-plus .arrow_carrot-down:before, #qodef-woo-page li.product .qodef-quantity-buttons .qodef-quantity-minus .arrow_carrot-down:before, #qodef-woo-page li.product .qodef-quantity-buttons .qodef-quantity-plus .arrow_carrot-down:before {
  content: "K";
}
/*End Icon change*/

#qodef-woo-page .qodef-woo-buttons-holder,
.qodef-woo-shortcode .qodef-woo-buttons-holder {
    position: relative;
    z-index: 1;
}

.widget.widget_woocommerce_product_search_filter_widget {
    display: none;
}

/* Category Search */
.sbc_inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sbc_inner select,.sbc_inner input {
    margin: 0 !important;
    padding: 4px 10px;
    height: 40px;
    width: 100%;
    color: #73a151;
    font-size: 14px;
    font-weight: 600;
    background: #fff;
}

.sbc_inner button[type=submit]{
    margin: 0;
    padding: 8px 20px;
    height: 40px;
    background: #73a151;
}

.sbc_inner button[type=submit] svg {
    display: block;
    height: 100%;
    width: auto;
    fill: #fff;
}
.sbc-col.sbc-col-attr {
    max-width: 90px;
}

.sbc-col.sbc-col-cat {
    max-width: 150px;
}

.sbc_inner .search-string input {
    width: 250px;
}

.col-inner {
    height: 100%;
    display: block;
    padding: 0 1px;
}

.search-string {
    display: flex;
    align-items: center;
}
/* End Category Search */

#qodef-top-area .widget_mildhill_core_phone_number:before,
#qodef-top-area .widget_icl_lang_sel_widget:before {
    background-color: #587636;
}

#qodef-top-area .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown .wpml-ls-item-toggle, #qodef-top-area .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown-click .wpml-ls-item-toggle{
    background-color: transparent;
}

#qodef-page-sidebar .widget .qodef-widget-title:after {
    content: '\35';
    font-family: ElegantIcons;
    font-size: 34px;
    float: right;
    position: absolute;
    right: 0;
}
#qodef-page-sidebar .widget.active .qodef-widget-title:after {
    content: '\33';
}

.sblfwc-loader.shop {
    position: relative;
    display: none;
}

@media only screen and (min-width: 1025px){

    #qodef-page-sidebar .widget .qodef-widget-title:after {
        content: '\33' !important;
    }
}

@media only screen and (max-width: 1024px){
    #qodef-page-outer {
        margin-top: 0 !important;
    }
    .product-search-filter-terms {
        display: none;
    }

    .widget.active .product-search-filter-terms {
        display: block;

    }
}

@media only screen and (max-width: 767px){
    .vc_row.wpb_row.icon-area {
        padding: 15px !important;
    }

    .icon-area .qodef-icon-with-text .qodef-m-title .qodef-m-title-text {
        font-size: 16px;
        white-space: nowrap;
    }

    .icon-area .qodef-icon-with-text .qodef-m-text {
        font-size: 8px;
    }

    .qodef-icon-with-text.qodef--custom-icon .qodef-m-icon-wrapper {
        min-height: 70px;
        display: flex;
        align-items: center;
    }

    .qodef-icon-with-text.qodef--custom-icon .qodef-m-icon-wrapper img {
        max-width: 100px;
        margin: 0 auto;
    }

    .qodef-icon-with-text.qodef-layout--top .qodef-m-title {
        margin-top: 0;
        line-height: 1em;
    }

    .icon-area .wpb_column {
        border-bottom: 1px solid #c4d4b7;
        margin-top: 8px;
    }

    .icon-area .wpb_column:after {
        content: "";
        background: #c4d4b7;
        width: 2px;
        position: absolute;
        right: 0;
        height: 60px;
        top: 50%;
        transform: translateY(-50%);
    }

    .icon-area .wpb_column:nth-child(3):after,
    .icon-area .wpb_column:last-child:after {
        display: none;
    }

    .icon-area .wpb_column:nth-last-child(2),
    .icon-area .wpb_column:last-child {
        border-bottom: 0;
    }

    .icon-area .vc_empty_space {
        max-height: 20px;
    }


}


@media only screen and (max-width: 480px){
    .search_by_cat-wrap {
        max-width: 100%;
    }

    .sbc-col.sbc-col-cat {
        max-width: 95px;
    }

    .sbc-col.sbc-col-attr {
        max-width: 70px;
    }

    .sbc_inner .search-string input {
        width: 100%;
    }

    .sbc-col.sbc-col-search {
        width: 168px;
    }

    .sbc_inner select, .sbc_inner input {
        font-size: 11px;
        padding: 2px 6px;
        height: 30px;
    }

    .sbc_inner {

    }

    .sbc_inner button[type=submit] {
        padding: 6px 10px;
        height: 30px;
    }

    .col-inner {
        padding: 0;
    }
}
